[2014-09-28 12:19] xat opened #1 "Middlewear / Middleware"
I think the correct naming is "Middleware" without an "e"

[2014-09-28 23:26] #1 closed, assigned to nobody

[2014-09-29 17:50] jessegavin opened #3 "Is minification an issue?"
With AngularJS we're required to employ one of several workarounds when using minification. Does BottleJS have the same basic problem?

See https://docs.angularjs.org/tutorial/step_05#a-note-on-minification

[2014-09-29 19:21] #3 closed, assigned to nobody

[2014-09-30 05:12] boneskull opened #5 ""middleware" misleading?"
Many in NodeJS land are used to "middleware" as a concept wherein functions are executed in a pipeline; each function calls `next()`, and the next middleware is executed.

What "middleware" seems to be in BottleJS is the equivalent of [$provide.decorator](https://docs.angularjs.org/api/auto/service/$provide#decorator).

Perhaps it should be called "decorator" as to not confuse _both_ camps of user

[2014-09-30 05:40] boneskull opened #6 "configuration options"
I'd like to use this in a NodeJS project.  I'm noticing that these are my options for use:
1.  `require('bottlejs')` in every single file, or
2.  publish `Bottle` on the `global` context, or
3.  use `Bottle` in one file only

Out of these options I'd probably rather go with #3.  If I go with #3, it will be a lot of:

[code]

This is also kind of lame, so a couple solutions would be:
1.  Allow each

[2014-09-30 05:51] boneskull opened #7 "Bottle() should accept other Bottles"
[code]

The constructor would then be something like:

[code]

With some modification, this would allow modules to expose their `bottle` instances:

[code]

Then back in the constructor:

[code]

Usage:

[code]

[2014-09-30 05:54] boneskull opened #8 "needs .editorconfig"
it's not clear if you're using spaces, tabs, or how many of each :smile:

[editorconfig.org](http://editorconfig.org)

[2014-10-01 18:20] #8 closed, assigned to nobody

[2014-10-01 18:20] #5 closed, assigned to nobody

[2014-10-12 15:16] #6 closed, assigned to nobody

[2014-10-18 16:11] cjsaylor opened #12 "RFC: Expose a register method on the container"
I would like to propose exposing `Bottle.container._register` method.

The purpose of it would be to allow for providers and factories the ability to register other services in a provider like fashion.

Example:

[code]

elsewhere:

[code]

This would allow for whole modules to be contained without having to resort to a locater pattern (ie requiring the Bottle.pop('<name>') all over. A possible us

[2014-10-20 04:00] #12 closed, assigned to nobody

[2014-10-31 18:55] 486 opened #15 "Classic object factory?"
If I am not mistaken, everything Bottle can inject are singletons.
What do you think about having an object factory where injecting a dependency constructs a new object of that type?

[code]

[2014-10-31 20:42] #15 closed, assigned to nobody

[2014-11-16 22:36] artemyarulin opened #16 "Incompatibility with PhantomJS"
Hi there, thank you for this library.

This is actually not your issue, but something that could be useful for anybody struggling the same.

When you run some tests using PhantomJS (which is quite common thing to do nowadays) and your code is using bottlejs there would be weird behavior  that bottle.container has empty objects inside.

After couple of hours I was able to track the problem:

[code]

[2014-11-20 18:33] #16 closed, assigned to nobody

[2014-12-24 03:46] cjsaylor opened #17 "Nested bottle names don't play well with injection."
Example:

[code]

This may be desired behavior with the new dot-notation, but it is easy for someone to break the injection point with a dot-notation as illustrated above.

[2014-12-26 14:51] #17 closed, assigned to nobody

[2015-04-15 02:00] kenvunz opened #19 "Non singleton service"
Does it mean that all services are considered as `singleton`? Is there anyway to instantiate a new `Beer` service every time `Bottle.container.Beer` is accessed?

[2015-04-24 14:45] young-steveo commented on #19
Hi @kenvunz, sorry for the late reply but I was on holiday for a couple of weeks.

You are correct: services are singletons.

The functionality you are requesting has been suggested before; [here was my response](https://github.com/young-steveo/bottlejs/issues/15#issuecomment-61328109).  Essentially, I think it is counterintuitive to get a new instance every time you access an object property.

As

[2015-04-25 01:25] kenvunz commented on #19
@young-steveo
yeah that's what I've ended up doing. It's less convenient, but does bring clarity to what the container do, so i reckon it's a good trade :+1:

[2015-04-25 01:25] #19 closed

[2015-04-27 04:29] seydu commented on #15
Here a Pimple user. I was expecting something like what @486 suggests. By default Pimple creates a new instance each time a service is requested unless you tell it to create a shared service.

[2015-04-27 12:51] young-steveo commented on #15
@seydu I understand the potential of this idea&mdash;there was a time that I planned to add it to bottle.  However, I soon realized that the feature would facilitate a particularly confusing, counterintuitive pattern.  Take this code, for example:

[code]

The new `create` method breaks javascript's object continuity.  Javascript objects are passed by copy of reference; when I access an object pro

[2015-04-27 14:57] seydu commented on #15
I see what you mean. Thank for this detailed answer.

[2015-04-27 15:51] young-steveo commented on #15
:+1: :cool:

[2015-05-21 14:56] young-steveo commented on #7
Although this idea is cool, I can't see a real userland use-case for the functionality.  I'm closing for now unless the need actually arises or can be demonstrated.

[2015-05-26 17:51] boneskull commented on #7
well, have you seen how people use Browserify with AngularJS?

typical AngularJS:

[code]

[code]

in CommonJS, for use with Browserify:

[code]

[code]

so, this kind of behavior would more easily allow use of Browserify with Bottle.

[2015-05-26 22:31] young-steveo commented on #7
@boneskull Correct me if I missed your point, but your Browserify example can be accomplished with bottle like so:

[code]

[code]

[2015-05-27 00:34] boneskull commented on #7
Yes, but then you only have one module, right?

[2015-05-27 03:24] young-steveo commented on #7
@boneskull Yes.  Though, someone could use a bottled module in their project like so:

[code]
[code]

Then to use it
[code]

Actually, that might be a decent compromise; it retains the lazy loading of `someService` which was an original concern, and it keeps the implementation small.  What do you think if I added a new `module` method, something like this:

[code]
[code]

[2015-06-19 04:30] hailwood opened #23 "Prototype modification via extension?"
I'm wondering if bottle could be used to modify the prototype of an object before it's instantiated?

something like

[code]

[2015-06-19 17:20] young-steveo commented on #23
@hailwood That's interesting, although `extend` is probably not the right word, since your example modifies the original `Beer` service.  Currently, you could accomplish it with a factory for Beer:

[code]

This will ensure that `Beer` depends on `PropsAndMethods`.

Another solution would be to use a service decorator.  This is more in line with what your example looks like; it is a viable option

[2015-06-22 19:56] young-steveo commented on #23
@hailwood Let me know if those solutions don't meet your needs.

[2015-06-22 19:56] #23 closed

[2015-09-04 21:47] robations commented on #7
I'm trying to follow along at home, and also trying to find a replacement for the Symfony2 DIC in the node/browserify world. In Symfony2, you can create reusable bundles that register services in the DIC. When you register a vendor bundle you can import its services into your parent DIC. So, at once you have your service definitions ready to use, but also they are not coupled to the DIC so you can

[2015-09-04 23:04] young-steveo commented on #7
@robations The primary use-case of Bottle keeps the container away from your code.  Here's an example of how to make a bundle, yet the source files don't contain bottlejs:

[code]

Your service files are just normal javascript constructors that don't mention Bottle
[code]
[code]

Now, if you want to import it's services into your own container:
[code]

If you're looking to access `ServiceB` right

[2015-09-04 23:34] robations commented on #7
Thanks for the examples. Modularisation and structure of code is much harder than the writing, for me at least...

One problem might be that if `ServiceC` (to be defined in `./parent.js`) needs to depend on `ServiceA`, for example, you can't inject `ServiceA` directly. Though probably this could be done with a factory:

[code]
which isn't too bad.

[2015-09-08 20:40] young-steveo commented on #7
@robations Actually, bottle supports dot notation in the strings, so this would work:

[code]

[2015-09-08 22:24] robations commented on #7
Cheers, I did realise that later, but didn't want to hijack the issue thread more than already. So far working out okay so thanks for the project 🍼.

[2015-09-10 11:54] robations opened #24 "Support a way of $registering a value without changing that value"
Hi, as far as I can tell there's no way to use `.register()` or `$register()` to set a value without adding the `$name` and `$type` properties on that value. There are some circumstances where it’s undesirable to change values ad hoc, for example where you have immutable objects (think `Object.freeze()`) or you have code that makes assumptions about the properties on the value.

Perhaps it would b

[2015-09-10 14:05] young-steveo commented on #24
I like the idea.

[2015-09-10 15:25] robations commented on #24
I could probably send a PR at some point if that would help. The only disadvantage would be a bit of extra complexity in the register function, but probably this would only add a couple of lines.

[2015-09-10 17:16] young-steveo commented on #24
@robations Currently `register` is just a [one-liner](https://github.com/young-steveo/bottlejs/blob/master/src/Bottle/register.js#L13) (albeit a lot is going on in that one line)

To support this functionality would be as simple as adding `$value`:

[code]

[2015-09-11 14:04] robations commented on #24
It might be a good idea to allow falsey values:

[code]

[2015-10-02 20:22] nguyenl opened #25 "Null dependency becomes undefined after first use."
When a dependency that is of null value is used a second time, it becomes undefined instead of null.  This only occurs when using the `factory()` method of defining a dependency. Using `value()` works fine.

For example:

[code]

[2015-10-05 17:51] young-steveo commented on #25
@nguyenl Interesting.  I'll look into it and release a patch version if needed.

[2015-10-05 18:10] #25 closed

[2015-10-05 18:16] young-steveo commented on #25
Fixed in version 1.0.1

Thanks for the bug report!

[2015-10-06 19:07] nguyenl commented on #25
No problem.

I love BottleJS btw. Great work!

[2015-10-06 19:52] young-steveo commented on #25
Thanks

[2015-11-09 18:22] #24 closed

[2015-11-10 10:50] robations commented on #24
Cool. I briefly started working on this too but was away/busy etc...

[2015-11-10 19:21] young-steveo commented on #24
@robations I was going to bump the version to 1.1 for a different reason, and decided I might as well add this feature too.  Thanks for the suggestion!

[2015-11-17 00:11] Lukinos opened #32 "Bottle#value behaviour"
Hi, I wanted to use Bottle#value to store nested values, but I ran into troubles. I cannot set two values in the same nested container, because the nested container is overwritten each time I set a new value.

For instance:
[code]
Is it a bug ? Because in the test suite, this case is not tested.

Edit: Same happend with constant.

[2015-11-18 20:46] young-steveo commented on #32
@Lukinos Interesting... thanks for the report.  I'll look into it and get back to you.

[2015-11-18 20:50] young-steveo commented on #32
@Lukinos I can confirm this is a valid bug.  I'll fix it and issue a patch version.  Thanks!

[2015-11-18 21:00] #32 closed

[2015-11-21 13:08] dominics opened #35 "Inspecting resolved/provided dependencies"
I have several clients in my container that require shutting down. Trouble being that if I access them on the container instance to call `unref()` or `close()` or whathaveyou, they'll be instantiated, even if they weren't a dependency yet.

Would you consider adding something to the public API that would allow me to determine if a dependency has been resolved/provided yet? That way I can check if

[2015-11-21 14:23] cjsaylor commented on #35
@dominics As an alternative in the meantime, you could setup a middleware that would keep track of it:

[code]

If you don't define what service the middleware is active for, it becomes active for all. Then, you could check the `shutdownClients` variable to see if it was set by the middleware to determine if you need to shut them down in your usecase.

[2015-11-24 12:43] rdallasgray opened #36 "Why prevent dependencies being overridden?"
Hey, I was wondering why you raise an error when an existing dependency is re-registered? (See https://github.com/young-steveo/bottlejs/blob/master/src/Bottle/provider.js#L39). Our use case calls for default dependencies to be registered, but overridable to allow pluggable functionality, which I would think is a fairly common requirement.

Thanks for the project, it's been a big help to us.

[2015-11-24 15:06] young-steveo commented on #36
@rdallasgray I hadn't considered that use-case; it seems reasonable.  Unless there's some (unlikely) problem that prevents me from doing so, I'll remove the restriction in the next minor release.

[2015-11-24 16:00] rdallasgray commented on #36
Great. I've forked and hacked for the moment as I'm short of time, and everything seems to be working OK. If I can find the time I'll get the project set up on my machine and put together a properly-tested PR.

[2015-11-24 16:14] young-steveo commented on #36
Cool, thanks! Though, if you don't have the time I'll probably update the library and put up a release today.

[2015-11-24 16:29] young-steveo commented on #35
@dominics I think @cjsaylor's suggestion will do for now. However, I'm putting together a collection of "useful extensions" for bottle.  I'll include something like this in the separate collection.

[2015-11-24 16:29] #35 closed

[2015-11-25 02:13] dominics commented on #35
@cjsaylor Thanks, great suggestion. ("Why didn't I think of that?!")

[2015-11-26 20:19] Lukinos commented on #36
Hi, I had the same problem. As workaround, instead of registring my plugin dependencies in the main bottlejs object, I encapsulated it in another bottlejs object. For instance
[code]
Then, I recreate a bottlejs if I have to change my plugin.
[code]
In order to have access to main depenendencies in the plugin, I do a factory:
[code]

[2015-12-02 19:02] young-steveo commented on #36
I published your changes to version 1.2.0, now available in npm and bower.

[2015-12-02 19:02] #36 closed

[2015-12-02 20:04] rdallasgray commented on #36
Great stuff, thanks!

[2015-12-03 16:25] young-steveo opened #40 "Consider an async provider"
https://github.com/young-steveo/bottlejs/pull/39 mentions a case where the user is attempting to resolve a service asynchronously by throwing an error in the provider factory until the service is resolvable.

This has me thinking that it would be nice if bottle offered an async provider api of some sorts.  I can think of two challenges for this:

* Keeping bottle < 5kb when minified and gzipped.

[2015-12-03 18:33] young-steveo commented on #40
An example of a possible definition api:

[code]

I suppose there would have to be some kind of promise object returned when accessing `bottle.container.Thing`:

[code]

The only thing I don't like about it as that there's nothing to inform the user that `Thing` is not the actual service.  I suppose `container.Thing` could maybe always resolve to `undefined` if it is async, and I could introduce a

[2015-12-03 19:48] cjsaylor commented on #40
I think this sort of thing should remain in userland. For example, to accomplish what this API would be doing with current API functionality (using the example from #39):

[code]

This keeps the provider synchronous in definition that exposes an asynchronous API to be used. Since, I think this is an edge-case scenario, it should remain userland.

[2015-12-03 20:16] young-steveo commented on #7
Closing due to inactivity.  I've been using bottle in the browser and in node for a while now, and so far this need hasn't arisen,  especially considering the Vendor workaround [mentioned here](https://github.com/young-steveo/bottlejs/issues/7#issuecomment-105742716).

[2015-12-03 20:16] #7 closed

[2015-12-20 21:23] dominics commented on #35
@cjsaylor I'm actually having trouble applying that pattern.

Is `service.$name` expected to be defined? The only use I can find in the documentation is for the low level `$register` function (https://github.com/young-steveo/bottlejs#containerregisterobj), but by the time the service is passed to middleware, it's resolved and doesn't have that property AFAICT.

`name` is in scope at https://github

[2015-12-21 01:49] cjsaylor commented on #35
@dominics I guess the `$name` property only available if it is set when you define the service or when using the `$register` method.

[2016-01-20 10:06] StyleT opened #42 ".get() method for container access"
Currently I can access containers inside Bottle via `bottle.container.container_name` property. It's not a very elegant way. I proposed this scheme:
[code]

[2016-01-20 16:34] young-steveo commented on #42
I'll consider it; though it's only really saving you three keystrokes.  In the meantime, you should be able to add this to your application:

[code]

It won't handle dot notation, but it should cover most of your needs.

[2016-01-20 16:39] StyleT commented on #42
I can do PR for this (with dot notation support) if you don't mind...

[2016-01-20 20:18] young-steveo commented on #42
I don't mind, as long as the implementation is small-ish.  :+1:

[2016-02-11 09:43] rdallasgray opened #43 "Why not run middleware on `undefined` instances?"
Hey -- see this line: https://github.com/young-steveo/bottlejs/blob/master/src/Bottle/provider.js#L89

We've recently hit an issue where a typo caused something not to be registered, and the error didn't show up until runtime. We'd like to use middleware to check for undefined instances being returned from the container, but as middleware isn't run on undefined instances, that won't work.

Is ther

[2016-02-11 19:02] young-steveo commented on #43
@rdallasgray Could you give me an example of a typo that would still execute the middleware?  As it stands now, a property getter is defined when a service is registered.  That getter will only fire if the property is accessed, so if the defining code or the calling code are mismatched, the getter will never fire, so the middleware will never fire.

Under the hood, this is approximately what bottl

[2016-02-12 10:30] rdallasgray commented on #43
Ah, OK. That wouldn't work then.

What we're looking for is a fast and noisy failure when we try to access a service which hasn't been registered. The typo in question was comparable to your example above -- a misspelling of a service name which resulted in the 'real' service not being available at runtime, so we got an undefined passed to a collaborating object instead of the real service.

Now t

[2016-02-12 16:11] young-steveo commented on #42
I think I've changed my mind on this issue; adding a `.get` method to the bottle instance encourages the Service Locator pattern of which I'm not a fan.

In most cases, you won't want to be accessing services directly from the container in user-land code.  Instead, inject those services into the parent, or use a factory to encapsulate the service location.

[2016-02-12 16:11] #42 closed

[2016-02-12 16:15] young-steveo commented on #43
I hadn't considered the implied injection of `bottle.service`.  I don't think it's possible to throw a semantic error when accessing a misspelled service from the container using a property lookup, but we should be able to do so if the automatic injection fails.  i.e.:

[code]

[2016-02-12 16:37] StyleT commented on #42
Ok :) Bad that we're using this pattern.

[2016-02-12 17:19] young-steveo commented on #42
@StyleT I think the Service Locator works fine in two places: inside a factory, and getting the main app to init the project.

[code]

[code]

Now you're using bottle as a Service Locator inside a constructor.  That's where it starts avoiding the benefits of DI.  Instead the above code should be written as:

[code]

[2016-02-12 19:33] young-steveo commented on #43
I've got a PR coming today that should throw an exception if `service` or `resolve` encounter an undefined value.

[2016-02-12 21:01] #43 closed

[2016-02-12 21:06] rdallasgray commented on #43
Awesome, thanks so much.

We now have three apps in production using Bottle, and I can honestly say it's been the answer to a lot of questions for us in making large JS apps. Thanks!

[2016-02-12 21:13] young-steveo commented on #43
Hey you're welcome, thanks!

[2016-02-12 22:17] young-steveo commented on #43
Released in [v1.2.2](https://github.com/young-steveo/bottlejs/releases/tag/v1.2.2)

[2016-02-12 22:54] young-steveo commented on #40
@cjsaylor I think I agree that bottle should always return a service, and the service should be responsible for async actions.

[2016-02-12 22:54] #40 closed

[2016-02-25 22:15] kenvunz opened #46 "bottlejs typing for TypeScript"
https://gist.github.com/kenvunz/5b0726d720ab5dff285b

Let me know what you think. Happy to do a PR for your repo and/or with your permission, I'll submit it to the [typings registry](https://github.com/typings/registry)

[2016-02-29 21:03] young-steveo commented on #46
Interesting.  I'm not overly familiar with TypeScript, but I took a look at the documentation for writing .d.ts files, and I have a couple of questions:

1. [This line](https://gist.github.com/kenvunz/5b0726d720ab5dff285b#file-bottlejs-d-ts-L3) shows that the `Bottle.pop` function returns `void`, but it actually returns an instance of bottle.  Is this correct?
2. a Factory is passed a container ob

[2016-02-29 23:02] kenvunz commented on #46
you are spot on! gist is updated!

[code]

[2016-03-01 19:30] young-steveo commented on #46
As far as my limited TypeScript knowledge goes, everything looks good.

[2016-03-01 23:07] zdhuka commented on #46
Is the type definition completed? I need it.

[2016-03-03 02:14] kenvunz commented on #46
@young-steveo awesome!

to move forward, there are couple of options, and i'd leave it to you to decide

1. I'll make a PR that will add a `typings` property to `package.json` as outlined [here](https://github.com/Microsoft/TypeScript/wiki/Typings-for-npm-packages)

2. Submit to [typing registry](https://github.com/typings/registry)

What do you prefer? We could do both!

[2016-03-03 17:25] young-steveo commented on #46
@kenvunz I'm okay with both. :+1:

[2016-03-03 20:21] kenvunz commented on #46
- [x] Make a PR - see #47

- [ ] Submit to [typing registry](https://github.com/typings/registry)

[2016-03-04 21:15] young-steveo commented on #46
Now available in [v1.2.3](https://github.com/young-steveo/bottlejs/releases/tag/v1.2.3)

[2016-03-07 22:29] #46 closed

[2016-04-20 22:04] emilong opened #51 "Proposal: Support for iterating registered names/introspection"
Hi all,

I've been exploring a pattern in using bottlejs where I namespace a certain set of similar objects (in my case tasks) and then I iterate them for registration. It might look something like:

[code]

Then using (again, as an example) [kue](https://github.com/Automattic/kue):

[code]

Now, this works at the moment and for this example because I'm specially tagging the tasks with a "task" ke

[2016-04-21 19:35] young-steveo commented on #51
You can use the `digest` method to instantiate and return a list of services:

https://jsfiddle.net/kvrjr1ze/

So, your final code would look like:

[code]

However, I wouldn't call your original method hack-y; as you can see, the bottle.digest method needs to be told what to digest, and by registering your Task services under a namespace, you don't have to manage a separate list (in the example c

[2016-04-22 16:44] emilong commented on #51
Ok, cool. I was thinking it was hacky because if you inspect the bottle, it has the providers and other keys which seem like implementation details. Rather than sorting out between those, I thought it might be better to provide an explicit API, but if this approach will be stable, I'll just keep doing it. 😄

[2016-04-22 18:33] young-steveo commented on #51
Actually, now that you mention it you do end up having to filter out bottle methods like `$register`.  So maybe it would be worthwhile to add something to the api that just gives you the service keys.

[2016-04-25 14:55] bdm4 opened #52 "jsdoc errors"
Line 97: "@throws" needs a value.
On function:
var getNested = function getNested(obj, prop) {

Line 486: "@return" needs a value.
On function:
var value = function value(name, val) {

[2016-04-29 20:26] young-steveo commented on #51
@emilong I've got a preliminary implementation working in my local build:

[code]

[2016-04-29 20:27] young-steveo commented on #51
I'm going to test it out some more and it'll land in bottle `v1.3`

[2016-04-29 20:31] emilong commented on #51
Awesome! Then to reproduce the example above, something like this?

[code]

Just curious, why prefix with a '$' on the container version?

Thanks!

[2016-04-29 21:20] young-steveo commented on #51
@emilong If all of your services under the `task` namespace have a `type` property, you don't need to return early in the foreach either, but yes, that's essentially what you'll do.

I'm using the `$` prefix on the container version in case someone wants to register a service called `list` for themselves.  This convention is already in place for `bottle.container.$register` which is a copy of `bot

[2016-04-29 21:22] emilong commented on #51
Whoops, a bit of copy pasta there... Thanks for the explanation on the $ prefix! Can't wait to use this! :)

[2016-04-30 02:25] #52 closed

[2016-04-30 02:29] young-steveo commented on #51
Now available in [v1.3.0](https://github.com/young-steveo/bottlejs/releases/tag/v1.3.0)

[2016-04-30 02:29] #51 closed

[2016-05-14 20:50] kelabang opened #55 "object not created properly when async in middleware"
config not load properly
[code]

config.configuration not loaded properly.
am i using this wrong way?

[2016-05-17 14:19] young-steveo commented on #55
@kelabang Thanks for reporting the issue.

This is an interesting problem, and not one to which I have a quick solution.  I can describe why it is not working, however:

The issue is with the fundamental way bottle instantiates and injects services.  This process is inherently synchronous, because property lookups are synchronous.  e.g.:

[code]

As you can see above, the service is instantiated t

[2016-05-19 15:02] young-steveo commented on #55
I can't think of a good way to support this behavior in the library without introducing promises (which would make bottlejs too large) or introducing an alternative syntax.

For now, I think you should use a decorator to return the promise yourself:

[code]

Alternatively, call `setupAsync` only when you need it.

[2016-05-19 15:02] #55 closed

[2016-05-19 21:19] kelabang commented on #55
Thx for your answer btw I am already fixed my logic code, now every async operation am doing it outside bottle , I am realize that `next()`  in middleware because in you're not using any callback or promise to catch value when I call `bottle.container.Config` it's just return it. I am just expecting `next()` method was there because operation was non-blocking.

[2016-07-11 18:17] davidbarratt opened #57 "Services Config Files"
Any plans to support services config files?
http://symfony.com/doc/current/components/dependency_injection/introduction.html#setting-up-the-container-with-configuration-files

It would be really awesome if you could define your services in (json?) files rather than doing all of it by code.

[2016-07-11 22:06] young-steveo commented on #57
That's interesting.  One downside I see is that your services would need to be globally resolvable, so that the configuration can find it and instantiate it.  In PHP this is fine, because we have Namespaces.  I'm not sure how to solve that problem without cluttering up the global scope in JS.

[2016-07-12 14:22] young-steveo commented on #57
To be clear:  In node you could specify a path to the module, but I'm not sure how to elegantly handle the problem in a browser.

[2016-07-13 00:31] davidbarratt commented on #57
so... I mean the only ways I know of to handle non-globals would be either to use `require()` (and let the user use [browserify](http://browserify.org/) or the like) or to use `import` (with [babel](http://babeljs.io/docs/plugins/).

so you could I guess make a config option to either use `require()` or `import`. Although, I don't think `import` can be called anywhere other than at the top of the

[2016-07-13 01:30] davidbarratt commented on #57
so you kind of can dynamically load ES2015 modules:
http://babeljs.io/docs/learn-es2015/#module-loaders

so that's how I would do it. :) Obviously the paths are going to be relative to the web root.

[2016-07-13 16:05] young-steveo commented on #57
I'm going to put some more thought into it.  Meanwhile, I found a project that is close to what you're looking for: https://github.com/rouflak/barmanjs  Albeit, it would be nice to configure everything with a pure JSON file (that project requires imports and putting the module constructors into the configuration object itself).

[2016-07-13 17:56] bingomanatee opened #58 "Browser safeness"
Have you determined how browser safe this is, and is there code which may not work on any particular browser version?

[2016-07-13 18:58] bingomanatee commented on #57
I actually would put a vote to the contrary. Given that bottle is not tied right now to a particular ecosystem, a configuration based approach would impose a specific type of getting the resource before it is registered.

If you wanted to create a sort of "Metabottle" (Case.js) solution to translate that injection into a "bottler" you could but I'd think its better as a sibling project than as a d

[2016-07-13 20:48] young-steveo commented on #57
@bingomanatee If implemented, config file injection would be completely optional.  All existing bottle functionality would remain unchanged.

[2016-07-13 20:55] young-steveo commented on #58
Bottle works in ES5 compliant environments (so basically ie9+).  As far as safety is concerned, snyc.io shows [no known vulnerabilities](https://snyk.io/test/github/young-steveo/bottlejs) (primarily because bottle has no dependencies).

[2016-07-13 20:55] bingomanatee commented on #57
I understand.

Also, thanks for making this. I'm [Writing](http://wonderlandlabs.com/blog/react/having_it_all) on this in my blog and find it very useful. Right now, in Node for testing, very soon in React.js.

My concern is, I don't want the fact that Bottle.js is universally applicable to become obscured by example use cases tied to a particular style of resource loading.

[2016-07-13 20:56] bingomanatee commented on #58
ok; so when babelized, its ok within the Babel profile window? thanks.

[2016-07-13 20:56] #58 closed

[2016-07-13 21:14] young-steveo commented on #57
You're welcome, @bingomanatee.  👍

I would consider a sibling project for config file injection if the amount of code to make it work got too long (one of Bottle's goals is to remain under 5k when minified and gzipped).

I read your draft; I like the fact that you're including a real world example.  Thanks for using bottle!

[2016-07-15 14:48] young-steveo commented on #57
A proposal:

When in a node environment, a JSON configuration file will define a path to `require` each service.  In a browser environment a global variable "namespace" must be defined.  Bottle will use `window.YourNameSpace.YourService` to lookup the service definitions, so in order to use file based configuration, you would need to attach all of your services to this global object.

Three new me

[2016-08-03 22:31] young-steveo commented on #19
@kenvunz If you're interested, [Version 1.4.0](https://github.com/young-steveo/bottlejs/releases/tag/v1.4.0) now supports a new method `instanceProvider` that pretty much implements my example above for you.

[2016-08-03 22:32] young-steveo commented on #15
@486 @seydu [Version 1.4.0](https://github.com/young-steveo/bottlejs/releases/tag/v1.4.0) now has a version of this functionality that works without the confusion I've outlined above.  Take a look at the docs for `instanceFactory`

[2016-08-04 00:01] kenvunz commented on #19
👍  nice!! will check it out, thanks for letting me know

[2016-09-28 10:36] pun-ky opened #61 "Unlimited nested containers & decorators & middlewars"
Try to test in browser console:

`var b = new Bottle()`
undefined
`b.service('A.B.C', function () {});`
Bottle {id: 1, container: Object}
`b.decorator('A.B.C', function (service) { console.log('Decorator should be called for nested container services!'); });`
Bottle {id: 1, container: Object}
`b.container.A.B.C`
Object {}

As you can see, decorator is not called. I checked with registering service

[2016-09-28 12:09] pun-ky commented on #61
what is more I noticed that if some service is referencing unregistered service with name with dot ... call on undefined object is occurring and error in console is shown regardless strict mode.

[2016-09-28 15:47] young-steveo commented on #61
I'll have a look at it tonight.  Thanks for the bug report!

[2016-09-30 20:32] young-steveo commented on #61
I have a pending fix.  Just need to test it.

[2016-10-04 01:20] emilong opened #62 "Way to clear nestedBottles/named bottles?"
In our test suite, we create a new bottle for each instance and load all our factories. I did a bit of profiling and noticed that `nestedBottles` grows with each iteration.

What do the maintainers think of a way to clear `nestedBottles` and/or the named bottle store manually for situations like these? Given the existing behavior, I'd think it's too dangerous to try to guess when to clear these, b

[2016-10-04 17:42] young-steveo commented on #62
I think this is a fine idea, however I'm working on a fix to #61 that changes some of the internals surrounding `nestedBottles`.  This won't resolve your issue, but it might change how the implementation would work.  I'll post back here when it's done.

[2016-10-06 14:34] young-steveo commented on #61
@pun-ky Sorry for the delay (I've been preparing for a hurricane down here in Florida).  I'll post back here once the fix is functional.

[2016-10-10 12:56] ConneXNL opened #63 "Current object in tree rather than container is returned as first argument in factory"
So I am facing the following problem which I don't think is intended:

[code]

[2016-10-10 18:03] young-steveo commented on #63
Hi, thanks for the report; that's an interesting problem to solve.

The reason you are getting the `bottlejs.container.a.tree.like` container is intentional.

I added namespaces to reduce collisions when sharing components between projects.  I like that these isolated components refer to their internal dependencies locally.  A typical use-case would be a vendor name prefix; the factory code could

[2016-10-11 10:33] ConneXNL commented on #63
I indeed use the dot syntax to structure the container rather than namespacing to avoid name collision.

You can still use bottlejs.container from within the factory right? At least that's what I've been doing.

In that case this doesn't need fixing at the cost of BC. Maybe add the root container as the second argument?

I do think the docs needs fixing as I think everyone interprets it as getting

[2016-10-12 01:33] young-steveo commented on #61
@pun-ky I have created and pushed a fix [here](https://github.com/young-steveo/bottlejs/issues/64) that will go out with the next bottle release soon, but please be aware of #63.  Now that your decorators will work for nested containers, you may find that the isolation causes further issues (depending on the namespace you've chosen).

[2016-10-12 01:33] #61 closed

[2016-10-12 01:41] young-steveo commented on #62
@emilong The changes have been merged into master.  I think a flush of `nestedBottles` and/or `bottles` for named instances would be a welcome change.  `nestedBottles` is a list of bottles associated to the dot notation containers, and `bottles` is a hash of named bottle instances.

I wonder if the two could be merged, further reducing the code...

[2016-10-12 01:45] young-steveo commented on #63
Yes, you can always reference the parent bottle instance container as you've suggested.  In fact, I'm starting to lean towards not providing access to the root container explicitly, since this would allow for accidental noisy neighbors--reducing the isolation currently enforced.

At least for now I will update the docs for the upcoming release.

[2016-10-12 17:18] emilong commented on #62
Cool, I'll take a look at it today and see if I can make any headway.

[2016-10-13 14:13] #62 closed

[2016-10-15 15:05] #63 closed

[2016-10-17 16:05] robations opened #67 "Access services in a decorator"
I've not thought this through fully, but is there a good reason not to allow access to dependencies in a decorator? I've had a few situations where I want to alter/augment some behaviour in a given service, but from the decorator I'm very limited in what I have access to.

Something like

[code]

[2016-10-17 19:05] young-steveo commented on #67
If I follow you correctly, you want to be able to inject additional services into a decorator; basically the decorator would have it's own dependencies.  Is that correct?

[2016-10-18 08:58] robations commented on #67
That is correct!

[2016-10-19 02:34] young-steveo commented on #67
This makes sense to me; sounds like a good addition.  Probably should add the feature to middleware as well.  Possibly also add injection to factories, but not sure.

[2016-10-19 14:35] robations commented on #67
In case it helps, the use case is an npm module where I export a bottle container. Other modules can then consume these services but in some cases may either override or augment existing functionality.

It's a flexible architecture but, at the moment, decorating an existing service is constrained to services you can access using `require()` (or otherwise outside the realms of bottle).

[2016-11-04 08:35] akond opened #68 "Bottle.config.strict = true"
This code does not give me any exceptions, as I would expect. Is not strict option for this very purpose?

[code]

[2016-11-04 15:07] young-steveo commented on #68
@akond The strict config was originally designed to detect undefined dependencies that are *injected* into your services, e.g.:

[code]

That being said, your use case makes total sense.  I think we can change bottle to also throw an exception when directly accessing an undefined service from the container when strict mode is enabled.

However, this would be a backwards incompatible change, i.e. t

[2016-11-06 09:19] akond commented on #68
I think it would be great.
Thank you very much.

[2016-11-09 15:31] tagyoureit opened #69 "Help with IoC in registering modules"
This might be a simple question, but...

I'm trying to get Bottle working in my app. Looking to use bottle.container.xyz inside a module. that I'm adding to bottle.

I tried to various ways to accomplish this (including trying to use https://github.com/young-steveo/bottlejs/issues/7#issuecomment-105742716), but have not been able to be successful.  Some help would be much appreciated!

Specificall

[2016-11-10 20:43] young-steveo commented on #69
@tagyoureit If you want to use the same bottle instance in two files in node, you'll want to name it and use `Bottle.pop` instead of `new Bottle`.  This should work:

[code]

[code]

**However**

the above will only work if `index.js` is loaded before `logger.js` is loaded, because the code in logger is executed immediately.  This can start to cause you a lot of headaches in a bigger app.

Instead

[2016-11-10 20:43] #69 closed

[2016-11-14 07:39] tagyoureit opened #70 "Reference variables"
Thanks for the previous question/answer.  But first, awesome job.  I really appreciate the flexibility of the module you wrote.  I have a pretty interdependent app and am grateful that I can easily modularize my code.  But, I'm not sure I'm doing a couple of things correctly, so another couple questions if I may.

Is there a way to have the container object and the local object be a reference to e

[2016-11-14 16:46] young-steveo commented on #70
Hi @tagyoureit, I'm glad you like the library.

a) the first problem you're having is not really a bottlejs issue; this is just how javascript works.  I'll give you an example that doesn't use bottle:

[code]

In javascript, objects are passed by value as a reference, but primitives are just passed by value; so changing a variable assignment is not by reference.

You could achieve what you're look

[2016-11-15 21:00] #70 closed

[2016-11-28 13:57] iMoses opened #71 "Decorating with nested containers"
I'd like to decorate all providers within a nested container, problem is that the decorator callback returns the container itself instead of the service instance. I'm assuming this is a bug since it is inconsistent with the global behavior of not specifying a service name.

This works as expected according to the docs:
[code]
But if we use nested containers:
[code]

First, I wanna make sure this i

[2016-11-28 16:27] young-steveo commented on #71
@iMoses When you use dot notation, bottle creates a new container for the parent namespace and registers your services in that container, i.e.:

[code]
So in your case, you are assigning a decorator to the parent container:

[code]

I would say that this is the expected behavior.  However, it sounds like what you want to do is define a decorator that will run on all children of a nested container.

[2016-12-01 22:49] iMoses commented on #71
My personal opinion is to go with the asterisk, it follows known conventions and doesn't add anything to the interface.

[2016-12-22 13:29] basickarl opened #72 "Feature request: Support Symbol('..')"
Would be nice if it supported Symbols:

[code]

Currently get the ```TypeError: fullname.split``` is not a function error.

[2017-01-03 17:13] young-steveo commented on #72
@basickarl Thanks for the feature request!  I apologize for not getting back to you sooner, I've been on holiday.

Bottle currently supports ECMAScript 5 compliant browsers, including IE9, and Symbols were introduced in ECMAScript 6.  Also, Bottle does some string manipulation on the service keys in order to isolate nested keys (i.e. `"Parent.Child"`); since Symbols are immutable, this would cause

[2017-01-03 17:13] #72 closed

[2017-01-10 09:51] basickarl opened #73 "TypeError: Service is not a constructor"
[code]

I'm getting:
[code]

I realize that "mysql" is not a function but rather an object. Why can't I return this?

[2017-01-10 10:02] basickarl commented on #73
Used a factory to fix it!

[code]

[2017-01-10 10:03] #73 closed

[2017-01-10 16:24] young-steveo commented on #73
@basickarl Yes, `bottle.service` requires a constructor. Your factory solution is how I would handle it.

[2017-01-12 20:22] mwillbanks commented on #67
@young-steveo yes, injection into factories, decorators and middleware is very nice...

For decorators think of something more or less that might want to hook an event on something else...

[code]

[2017-01-12 20:34] young-steveo commented on #67
@mwillbanks Yeah, I'm going to get started on the new Bottle version soon; I'll include this feature.  I hadn't considered putting the injectables before the final function, but I like the idea, thanks!

[2017-01-15 20:38] cjsaylor opened #74 "Jasmine test setup doesn't work with newer versions of NPM"
NPM changed the file structure when they do installs and now they try to stick dependencies as high up as they can. The grunt-jasmine dependency is expecting `es5-shim` under the grunt-jasmine node-modules directory which is now in the root.

Tested with node `6.9.1` (npm `v3.10.8`).

Probably just needs an update to the grunt-contrib-jasmine dev dependency.

[2017-01-16 10:04] iMoses commented on #71
@young-steveo Any news about this feature?
I'll gladly help if help if needed.

[2017-01-17 09:39] basickarl commented on #72
Thanks for the response and I understand :)

[2017-01-17 20:54] young-steveo commented on #71
@iMoses Thanks!  I'm going to start knocking out some of these "version 2" tickets this week.  For this feature I'm probably going to go with a new method on the sub container itself, rather than the asterisk version.  This will be very similar to the `$register` and `$list` functions that already exist.  For example, using the new method would look like this:

[code]

If you want to help out, I c

[2017-01-17 20:55] young-steveo commented on #74
Hopefully it's resolved in a grunt-contrib-jasmine future version.

[2017-01-18 11:02] oleksiipysanko opened #77 "ES6 arrow functions support"
Hi, thanks for an awesome library!

I'm using ES6 arrow functions in modules where dependencies should be injected like:

[code]

Though this code won't work since bottlejs calls `new` on passed function which isn't allowed for ES6 arrow function.

I've changed `return new Service()` to `return Service()` in `function service(name, Service)` and it seem to work fine, but I had no time to look deep

[2017-01-18 16:04] #74 closed

[2017-01-18 16:17] young-steveo commented on #77
Hi @oleksiipysanko, thanks!

The service method expects you to pass a constructor.  As an alternative, you could use the factory method which expects a callable function, so this should work:

[code]

[2017-01-18 17:11] oleksiipysanko commented on #77
Hi, @young-steveo, thanks for quick follow up.

Yes, I saw such solution in other issue and doc, just was wondering if I can make a fork with this modification and not brake anything.

In any case, there's nothing else, thanks!

[2017-01-18 17:11] #77 closed

[2017-01-18 22:35] young-steveo commented on #68
@akond  So, I sat down to implement this, and suddenly realized that it can not be done without Proxies.  Since bottlejs supports IE9+ and other ECMAScript 5 compliant browsers, I don't think it can be done.

The reason should have been obvious to me from the beginning, but:  The container object is just an object.  With javascript, if you try to access an undefined property of an object, you alwa

[2017-01-18 22:35] #68 closed

[2017-01-19 16:26] iMoses commented on #71
@young-steveo I'll give it a go this weekend with all that you said taken into account.
Do you have a guide for contributors or should I simply make a pull-request and verify that the feature is thoroughly tested?

[2017-01-19 17:01] young-steveo commented on #71
Thanks, @iMoses!

There's a grunt task to lint and uglify the code.  Running `grunt test` will do do all that and run the jasmine tests.  The tests run against the minified versions in `/dist`.  Just don't commit the changed files in `/dist`, and everything should be good.

[2017-01-19 17:03] young-steveo commented on #71
Oh, also keep in mind that bottle supports ECMAScript 5 compliant browsers, so the source can't use cool ES6 features like arrow functions.

[2017-01-20 16:09] iMoses commented on #71
@young-steveo It actually seems to be pretty straight forward, I had to do very little to get it working and pass all tests.
Only test I can't pass is the "will allow decorators to be defined before services" because the `$decorator` method requires the container to be defined *before* you can add decorators to it. I'm assuming that it's an accepted behavior due to the nature of the feature.

[2017-01-20 19:45] young-steveo commented on #71
This is awesome, thanks!  Since it looks backwards compatible, I think I'll make a `v1.6.0` branch instead of waiting to launch it with `v2.0.0` (assuming everything else I've merged into master is BC, which I think it is).

[2017-01-28 02:44] Coburn37 opened #79 "String "" don't work for Bottle.pop(name)"
Passing `""` or `"0"` to `Bottle.pop()` and then trying to do the same thing again will result in 2 different bottle objects.

   `Bottle.pop("0") !== Bottle.pop("0");` //These do not equal each other when they should...

I checked out `src/Bottle/pop.js` and it looks like it does an `if(name)` in both `pop()` and `clear()` which would be the cause of this.

I'm not sure if this has farther reachi

[2017-01-28 03:35] Coburn37 commented on #79
I was mistaken that it was both `""` and `"0"`, it's just `""`.

[2017-01-30 12:12] #79 closed

[2017-01-30 12:12] young-steveo commented on #79
@Coburn37 I think it's a good addition, even if it only covers an edge case. Thanks for the PR!

[2017-02-22 18:23] young-steveo commented on #71
This is now available in [version 1.6.0](https://github.com/young-steveo/bottlejs/releases/tag/v1.6.0)

[2017-02-22 18:23] #71 closed

[2017-02-22 23:01] davidbarratt opened #82 "React Bindings"
Do you know if React Bindings exist for Bottle? Kind of like https://github.com/reactjs/react-redux ?

I imagine it working kind of like the way redux does, where you have  a "Provider" of sorts and then containers for children.

If this doesn't exist, would you want this to be part of this project or a separate project?

[2017-02-23 14:30] young-steveo commented on #82
As far as I know, there's nothing out there.  I think adding it to this repo would depend on a handful of things.

* One primary point is that I don't use React; if these bindings need heavy maintenance, or need to evolve with new React versions/deprecations I might not be the man for the job.
* Not being familiar with React, I'm not sure how much code is involved in creating these bindings?  I im

[2017-02-28 13:44] young-steveo commented on #82
@davidbarratt  I'll close this for now.  If you're interested in maintaining react bindings, let me know.

[2017-02-28 13:44] #82 closed

[2017-03-02 01:36] pocketmax opened #83 "injecting services by name only"
I know the docs say to add the names of the dependencies in the service config and as arguments in the constructor but is there a way to inject the dependencies purely by their names in the constructor?

i.e. from this...
[code]

i.e. to this...
[code]
-Thanks

[2017-03-03 14:39] cjsaylor commented on #83
@pocketmax This is similar to how Angular works, but I think it is actually a bad practice. Most JS minifiers will change variable names to shorten them which would then break the lookup for getting the dependency.

IE, in your example:

[code]

might get minified to this:

[code]

Minifiers can't minify defined strings, so a minified version of how it is currently defined in Bottlejs looks like t

[2017-03-05 06:36] pocketmax commented on #83
Sorry, I forgot to mention I wouldn't be minifying my code since it would be running in node. But I found a hacky work around using a JS parser so thanks for the help.

[2017-03-07 14:50] young-steveo commented on #83
@pocketmax Yeah, @cjsaylor's explanation is the reason why bottle doesn't support it.  I'm glad you found a workaround that works for you.

[2017-03-07 14:50] #83 closed

[2017-03-27 08:52] Toilal opened #84 "TypeScript: How to customize types definition of bottle.container ?"
I'm using bottlejs with TypeScript, but I need to write this anoying stuff to make TypeScript compiler happy.

[code]

It seems to be possible to extend typings definitions with [declarations merge features](https://www.typescriptlang.org/docs/handbook/declaration-merging.html), but I can't make it work.

In `typings.d.ts`, I have other declarations, and when I try to write this one:
[code]

It gi

[2017-03-27 09:06] Toilal commented on #84
I read the TypeScript doc page about declarations merge until the end, and I found the answer in the last section :). This example just work as expected :

[code]

[2017-03-27 09:06] #84 closed

[2017-04-19 15:18] AsyncWizard opened #86 "Nested container infinite loop when trying to define a service using the nested container as the name."
Hi,

I've often been blocked when using nested containers.

Two examples in my mind:

The first, when, for organizational reasons, I wish to create a service child of a service:
[code]

The second example is **worse**.
Imagine that I want to create a DB service with configuration value:
[code]

Here the library is stuck in an infinite loop:
[code]
( For more informations, I use bottlejs v1.5.0 - n

[2017-04-19 15:55] young-steveo commented on #86
@morphose Hmm.  I'm thinking of a few scenarios to solve your problem.

I'll start with your second example.  It seems like you are trying to define a *property* of a service via the bottle api.  Something kind of like `Object.defineProperty`.  I wonder if you should instead use a decorator:

[code]
As an aside, thanks for reporting the infinite loop; it is a bug that I should fix.  I think I've c

[2017-04-19 17:30] morphose commented on #86
Thank you for your advices.
The main reason I used `bottle.value` is that I could easily deal with:
[code]
But you're right, I had in mind something close to symfony with eg `container.get('dotted.service')` (and promises are not the topic here).

I'll keep thinking about it in my project.

[2017-04-19 18:01] young-steveo commented on #86
@morphose I see.  Since bottle is designed for injection during construction and your example is more like adding a public property to a service after construction, you could get away with something like this for now:

[code]

[2017-05-11 01:16] tvjg opened #87 "Getting service fails after calling resetProviders"
Calling `bottle#resetProviders` causes subsequent calls to retrieve a service from the container fail. This can be demonstrated with a short example.

[code]

This yields the following stack trace.

    TypeError: fullname.split is not a function
        at Object.getNestedService (/Users/jguidry/Code/iz/api/querulous.js/node_modules/bottlejs/dist/bottle.js:61:25)
        at Array.map (native)

[2017-05-17 13:50] young-steveo commented on #87
Thanks for the PR!  fix available now in [v1.6.1](https://github.com/young-steveo/bottlejs/releases/tag/v1.6.1)

[2017-05-17 13:50] #87 closed

[2017-05-19 18:36] dearsaturn opened #90 "Flowtype support?"
Is there a plan to add flowtype support, or should we just convert the existing typescript definitions?

[2017-05-22 14:40] young-steveo commented on #90
@dearsaturn I don't personally use TypeScript or Flow, so I do not have any plans to support Flow.

That being said, I do have a [typescript def file](https://github.com/young-steveo/bottlejs/blob/master/dist/bottle.d.ts) that was contributed by the community, and the bottle API is small enough that it has not been too difficult for me to maintain the file in this repo when new features are added

[2017-05-22 18:10] dearsaturn commented on #90
Hmm, I wouldn't mind taking a crack at it. `flowgen` might be able to convert the definitions straightaway.

[2017-07-03 03:33] jyting opened #91 "[Suggestion] Full example with nested directories"
Hi,

Currently trying to get started with this library - given that the library doesn't use config files, how does the recursive searching for all bottles from an entry-point `index.js` work? This seems to have been left out of the basic examples, as they appear to assume everything is in one single file.

Does the entry point still require the old-fashioned 'require' of every module with bottles

[2017-07-03 13:56] young-steveo commented on #91
@jyting You are correct; bottlejs is a DI container, but not a module loader.

There is no single correct way to load all of your modules into a container, but I can give you an examples.

Using the `bottle.register` method, and allowing your modules to self-describe their dependencies:

[code]
[code]
[code]

[code]

Since the bottle is named, after you have loaded index.js you can get your bottle

[2017-07-04 08:17] jyting commented on #91
Ah, gotcha - I guess an initial simple approach would as you described be to self-inject dependencies, then register everything by doing a recursive file search in index.js to hook everything up.

Makes sense - thanks for taking the time to write up the example!

[2017-07-06 12:56] jyting commented on #91
Actually, run into a bit of a snag - does the order of registering need to be in the same order as the dependencies themselves?

At the moment, I just do a recursive loop over all my files in the `src` folder, with each declaring its own name and dependencies via `module.exports.$name` and `module.exports.$inject`, where appropriate. However, I'm finding that due to, for example, the names of dire

[2017-07-06 12:57] jyting commented on #91
Actually, run into a bit of a snag - does the order of registering need to be in the same order as the dependencies themselves?

At the moment, I just do a recursive loop over all my files in the `src` folder, with each declaring its own name and dependencies via `module.exports.$name` and `module.exports.$inject`, where appropriate. However, I'm finding that due to, for example, the names of dire

[2017-07-06 13:15] young-steveo commented on #91
@jyting The order of the registered dependencies does not matter.  Here is a quick example that shows a service being registered before it's dependency: https://jsfiddle.net/yrz5017g/

The reason why this works is because bottle instantiates your service lazily.  That is to say, until the property `bottle.container.NeedsLogger` is accessed for the first time, the service and any dependencies are n

[2017-07-06 14:07] jyting commented on #91
Thanks @young-steveo - I guessed that was the case and should have double checked everything before coming back to ask more silly questions.

Had a bit of inconsistent naming that was causing the error (the filename and the $name mismatched for one of my files).

Thanks for the tip re: `config.strict = true` though - that'll definitely help catch any future errors faster!

[2017-07-06 14:07] #91 closed

[2017-07-08 10:05] romanlex opened #92 "ServiceCopy is not a constructor"
Hello. I have this error with [storejs](https://github.com/marcuswestin/store.js) library. How I can fix this?
[code]
[code]

[2017-07-09 23:53] young-steveo commented on #92
It looks like `require('store')` does not return a constructor, but rather an already constructed instance, or an object literal.  You can use a value or a factory for it instead of `.service`:

[code]
`bottle.service` expects to be given an object that it can call `new` on, for example `new Storage()`

[2017-07-09 23:53] #92 closed

[2017-09-26 19:27] young-steveo commented on #90
I'm going to close this for now.  If you want to contribute the flowtype files, I'll welcome the pull request.

[2017-09-26 19:27] #90 closed

[2017-09-26 22:58] dearsaturn commented on #90
I've moved away from `Flowtype` myself, I think it'll be more useful to everyone to make an attempt with jsDoc instead, since that'll require no transpilation step. I've just yet to think through how best to do that, though.

[2017-11-01 15:34] young-steveo commented on #86
The infinite loop problem is not due to what I thought at first.  After debugging your script, the loop occurs here:

[code]

You are attempting to inject something that is a child of `DB` before the `DB` service is created.  Dependencies are always resolved recursively before the service can be created.  So, while defining `DB` you try to inject `DB.property`, so bottle must lookup `DB` first (an

[2017-11-01 15:34] #86 closed

[2017-11-14 21:08] eskab opened #94 "InstanceFactory with class"
Is it possible to use `instanceFactory` with ES6 classes?
When I try to use it this way I get an error: `Uncaught TypeError: Cannot call a class as a function`

[code]

[2017-11-14 23:06] young-steveo commented on #94
`A.instance` is usually a function that returns an instance, but in your case `A.instance` becomes the class constructor itself.  So, something like this will work:

[code]

If you build your entire app this way, then everything should be fine.

However, you might run into maintenance trouble if you start mixing instance functions and instance constructors, because you won't know if you have to in

[2017-11-14 23:06] #94 closed

[2017-11-15 08:42] eskab commented on #94
Okay, thank you for help :smile:

[2017-12-05 14:36] abraini-Nascent opened #98 "resetProviders() does not seem to reset nested containers after 1.6.2"
After updating to 1.6.2 our tests fail as in our `afterEach()` we call a `resetProviders()` on the bottle.  The next test will fail as the bottle does not have any of the nested containers initialized.

For now we've locked to 1.6.1
Thanks!

[2017-12-06 15:26] young-steveo commented on #98
Thanks for the report!  I'll see if I can reproduce the issue.

[2017-12-06 21:30] #98 closed

[2017-12-06 21:42] young-steveo commented on #98
New version: https://github.com/young-steveo/bottlejs/releases/tag/v1.6.3

[2018-01-21 14:51] jimhigson opened #103 "Cannot use arrow function in declaration"
Under any environment that isn't transpiling arrow functions down to normal functions, this will fail:

[code]

The reason is because Bottle creates services using 'new' -

[code]

- and arrow functions cannot be used as constructors. This seems a bit restrictive to me since a lot of the time I don't use the 'this' when I create a new instance of something anyway - I just return an  object at the

[2018-01-23 22:38] ragboyjr commented on #103
Another use case for this would be if you want to use services as funcs instead of classes.

[code]

I created a wrapper function myself to implement it:

[code]

[2018-01-24 22:52] young-steveo commented on #103
@jimhigson The [documentation](https://github.com/young-steveo/bottlejs#servicename-constructor--dependency--) in the readme for `bottle.service` explicitly mentions the constructor intent:

Take note of the the parenthesis around your function body here:

[code]
The parenthesis around the curly braces forces the code to be a one-line arrow function that returns an object literal.  It is equivalen

[2018-01-25 10:58] jimhigson commented on #103
Ok, so the practical difference between a service and a factory is that a service is always created by a constructor, whereas a factory is created by a function?

I understand that now, but since constructors and functions in Javascript are for the most part the same thing, I wonder if it would be better to unify them?

[2018-01-25 13:55] ragboyjr commented on #103
@young-steveo Correct me if I'm wrong, but  `bottle.factory` only argument is the container itself. I think @jimhigson and my cases, we were hoping that our "factory" functions would injected with the deps.

[2018-01-25 15:11] young-steveo commented on #103
@jimhigson That practical difference is correct.

My thoughts on unifying them:

Under the hood bottle only has one mechanism for creating and returning services; it's the service provider.  A provider is a Constructor that exposes a single factory method, `$get`.  This method creates and returns your service.  The `bottle.factory` and `bottle.service` methods are syntactic sugar layered on top of

[2018-01-25 17:26] ragboyjr commented on #103
@young-steveo totally understand, thank you for your time and work on this project.

I'm willing to submit a PR for this feature as well, and if you can merge or close when you feel like a consensus has been reached.

I'm sure i'm in the minority with using functional services vs objects, so I doubt this will be the next hot killer feature in bottleJS, but this would be quite convenient and encour

[2018-01-29 16:27] young-steveo commented on #103
@jimhigson I think the factory method should be able to solve your issue.  Now, with the release of [v1.7.0](https://github.com/young-steveo/bottlejs/releases/tag/v1.7.0) you can also use the [`serviceFactory`](https://github.com/young-steveo/bottlejs#servicefactoryname-factoryservice--dependency--) method.

[2018-01-29 16:27] #103 closed

[2018-03-24 19:14] OmarOufDev opened #107 "Using Mocha for Testing. Is there a trick ?"
I am trying to integrate bottlejs into a project.
the project runs fine if i run it "node test.js" .
[code]

however if i use a test via mocha. "mocha Tests" . it throws a type error.
[code]

heres how i use bottle to save the class.
[code]

heres how i inject it into the class.
[code]
heres how i call it.
[code]

Here's the repo url.
https://github.com/OmarOufDev/RespawnList/tree/bottle

[2018-03-26 16:46] young-steveo commented on #107
As far as I can tell looking at the code, everything should have worked.  My only comment is that you're using bottle as a service locator, and since the system under test loads the BottleManager, there's no good way to mock your `OptionsVerification` object.  Mocking dependencies in tests is half the reason to use an IoC like bottle.

I don't know why `this.optionsVerification is not a constructo

[2018-03-26 22:46] OmarOufDev commented on #107
i tried to construct the object before returning it. like.
[code]
and i call it like this now.
[code]
same problem persisted.
[code]

[2018-03-26 22:49] OmarOufDev commented on #107
also tried this
[code]
[code]

[code]

[2018-03-27 13:40] young-steveo commented on #107
I cloned your repo to try and run your test suite, but there are other problems preventing me from executing the code.  Mocha will not run dude to some missing configuration.  Your local environment must have something enabled that is not in your package.json.

I can tell that the problem is not with bottle...  Since you are using TypeScript, try typing this argument instead of using `any`: https:

[2018-05-02 18:23] sahilthakral23 opened #108 "Method to clear a registered service"
Is there a reason that the library does not have a method to clear a registered service? Actually while writing unit tests for my code I need to clear the original registration of service and register my mock service.

[2018-05-03 13:29] young-steveo commented on #108
See [`resetProviders`](https://github.com/young-steveo/bottlejs#resetprovidersnames).  This will reset the provider for a service, so that the next time the service is requested it will be re-instantiated.  This will work for scenarios where you have registered a mock service, a test has fulfilled that mock's expectations, and now you want a new mock to be created for subsequent tests that share t

[2018-05-05 10:13] sahilthakral23 commented on #108
Thanks @young-steveo  for the help. This does solve my problem. I somehow missed it in the documentation.

[2018-05-05 10:13] #108 closed

[2018-07-06 02:42] jose-nunez opened #111 "How do you handle interdependency?"
Hi,
Is it possible to hold 2 modules that implement a bunch of functions, where they call to each other? Something like:

[code]

[2018-07-06 13:08] young-steveo commented on #111
This is the classic [Circular Dependency](https://en.wikipedia.org/wiki/Circular_dependency) problem.  I think the best solution here is to create a third dependency that encapsulates the shared logic:

[code]

[2018-07-06 13:12] young-steveo commented on #111
This is the classic [Circular Dependency](https://en.wikipedia.org/wiki/Circular_dependency) problem.  I think the best solution here is to create a third dependency that encapsulates the shared logic:

[code]

This will typically make your program easier to understand, and keep everything as a dependency.  However, if that doesn't work for your particular use-case, or makes your logic more diffic

[2018-07-06 13:14] #111 closed

[2018-08-22 13:49] buckelieg opened #112 "inject dependencies automatically whenever their names are the same"
From the example:
[code]
Omit string declarations after function if we declare tis arguments with the same object names as we registered before:

[code]

[2018-08-22 18:48] young-steveo commented on #112
This will not work if the javascript is minified.

[2018-08-29 19:34] derekwsgray opened #113 "How to reset a bottle after unit tests?"
I'd like to clear the registered services on a bottle instance at the end of each unit test, but there doesn't seem to be such a method - hopefully I'm missing something?

[2018-08-30 17:39] jvitela commented on #113
Have you tried resetProvidersNames ?
https://github.com/young-steveo/bottlejs/blob/master/README.md#resetprovidersnames

Or why not just create an instance of Bottle per test?

[2018-08-30 18:28] derekwsgray commented on #113
thanks, yes I did try `resetProviders()`, but it did not unregister the already constructed service from the previous test.

All my modules reference the bottle instance via `require()`ing the exported instance, not by function parameter, so I could not directly create a new bottle in each test.
I ended up wrapping bottle in a manager that maintains the instance and adding a `reset()`, which archi

[2018-08-31 14:30] noherczeg opened #114 "Missing documentation regarding lazy-loading functionality"
At the top of the docs it mentions lazy-loading, but I can't find anything in the docs regarding where and how is this available.

Sample use-cases would be nice as well :-)

[2018-08-31 15:55] young-steveo commented on #114
It lazy loads by default; there's no way to disable it.

[code]

I guess it would make sense for me to spell that out in the readme; thanks for the suggestion!

[2018-08-31 16:43] young-steveo commented on #112
See my comments on it here: https://github.com/young-steveo/bottlejs/issues/3#issuecomment-57213962

[2018-08-31 16:43] #112 closed

[2018-11-06 19:21] jacobweber commented on #91
I think it would be useful to add a larger example to the readme, maybe similar to the one above, so you can see the intended usage. An example of replacing dependencies for testing would also be useful.

[2018-12-07 20:31] Jun2theizzle opened #116 "npm audit vulnerability"
When running npm audit on the lastest release, it looks like it has a high vulnerability relating to ` grunt-contrib-jasmine`. Can we expect a fix to this vulnerability soon-ish?

![screen shot 2018-12-07 at 2 29 31 pm](https://user-images.githubusercontent.com/2424525/49671149-8a43bc00-fa2c-11e8-84f9-7121bcbead14.png)

[2018-12-10 14:45] young-steveo commented on #116
Yeah, it'll be fixed in the next release.  I wouldn't be too concerned about it though; the vulnerability concerns "Insufficient Entropy" in the crypto lib that the test suite uses for requests locally when running unit tests.  So basically when the test suite runs and requests are made via PhantomJS locally, the "requests" are hackable.

The bottlejs library itself does not have any dependencies.

[2018-12-20 17:36] Jun2theizzle commented on #116
ty

[2019-02-21 16:18] sreeram180 opened #123 "Run time dependency resolve"
how to do run time dependency resolve for provider/service, where function arguments can be assign before creating the instance of a service

[code]
$modalinstace, $modadata will be change based component/controller.

For example AngualrJs UI $uimodal controller function, where you can resolve controller argument during the run time.

[2019-03-07 18:55] young-steveo commented on #123
Hi, @sreeram180, sorry for taking so long to get back to you; this issue flew under my radar for some reason.

I'm not sure I understand the scope of the question.  Are you asking how to inject something from angular into your service?

[2019-03-16 02:38] tagyoureit opened #124 "Typescript questions"
I'm migrating my project to use Typescript and have a couple of questions.  Hoping that someone will be able to help me.  :)  I'm just learning TS so appreciate any help.

Here is generally how my current (pre-Typescript project) is setup.  (I can see the Typescript definitions from bottle.d.ts.)

[code]

With Typescript, it requires (pun intended??) that the modules use the `import` syntax ([docs

[2019-03-16 16:38] young-steveo commented on #124
1. Unfortunately I can't say whether this is "good" Typescript or using best practices.  I am familiar with TypeScript's concepts but I don't use the language.  The TypeScript definition file was added by the bottlejs community.  On the other hand, it seems like it works, so I wouldn't sweat it too much.  Your application code is more important than the bottlejs stuff.  If it feels maintainable, I

[2019-03-18 13:58] young-steveo commented on #123
Closing for now; mention me in a comment if you're still having trouble.

[2019-03-18 13:58] #123 closed

[2019-03-18 14:54] tagyoureit commented on #124
Thanks for the write-up.  I'll try to find some time this week to see if I can implement this.

[2019-03-18 15:10] #124 closed

[2019-06-16 19:35] unmyke opened #128 "Nested factories without isolation"
Hello!

I need to have nested singletons, returned by factories.
All factories take same argument -   entire container, but all of them for organisation reason contained to different objects.

[code]

In this case every factory (for instance bottle.container.types.type1) will take only isolated nested container.
How can I pass to every factory root container?

[2019-06-21 00:52] unmyke commented on #128
Я говорю

[2019-06-21 02:09] #128 closed

[2019-07-05 19:41] blikblum opened #129 "Add ES module build"
Currently bottlejs is distributed only as a umd module.

With an ES module build is possible to take advantage of tools like https://github.com/pikapkg/web

Its possible to have both builds (es and umd) by using module field: https://github.com/rollup/rollup/wiki/pkg.module

If deems appropriate i can help implementing it

[2019-07-08 20:10] young-steveo commented on #129
Shouldn't be too hard to implement.  I'll put it on the list.  Thanks for the suggestion!

[2019-07-08 20:13] blikblum commented on #129
I can create a PR. Just like to know the direction. Still use the current concatenation build through grunt or change to something like rollup?

[2019-07-08 20:50] young-steveo commented on #129
For now it would be best to make a new grunt task; probably as simple as creating a new exports wrapper for es modules, concat the source and wrap it.

[2019-07-08 20:53] young-steveo commented on #129
Maybe rename [this file](https://github.com/young-steveo/bottlejs/blob/master/src/export.js) to `umd.js` and create a new one for es module as a sibling.

[2019-11-15 14:53] gabrieloczkowski opened #136 "BottleJS container dependencies with IDE IntelliSense, type checking and autocomplete?"
Hi.
Is there any way to have IntelliSense, type checking and code autocompletion inside IDE (VSC) when using BottleJS container dependencies with JavaScript?
Do you have any solutions for it like JSDoc?
Please provide some examples.

[2019-11-18 16:25] young-steveo commented on #136
The problem is that VSC does not recognize properties added to objects dynamically via `Object.defineProperty`.  This bug ticket (and the subsequently referenced tickets in the comments) leads to that conclusion: https://github.com/Microsoft/vscode/issues/55390 Unfortunately, `Object.defineProperty` is core to how bottle.js works.

You might be able to add a docblock to your local container object

[2019-11-18 16:25] #136 closed

[2020-01-15 16:40] #129 closed

[2020-01-15 16:47] young-steveo commented on #129
This has been merged and will be released as v2.0.0 (since it is a potentially breaking change for some webpack users)

[2020-01-17 13:47] buckelieg opened #139 "Provide an async defer functionality"
It could be great to have middleware-like functionality with defer-resolve pattern.
I.e. I want to have "next" option in deferred function to make call it inside Promise.resolve()

[2020-01-17 18:40] young-steveo commented on #139
That's a cool idea, so something like:

[code]

[2020-01-20 10:17] buckelieg commented on #139
Yes, something like that.
My general aim is to use BottleJS in conjunction with HeadJS so that I can bind resources loading with complex component object creation inside the Container.
That is like lazy loading online dependency management system.
And I can initialize some parts of app instantly when resources are ready.

[2020-02-01 14:23] esroyo commented on #40
Indeed. By adopting the convention of preceding the service name with the  `async` keyword, the current API gets pretty usable:
[code]
I'm going with that.

Not having async resolution in the web environment feels strange. The discussion remembers me of how useless a sync `require()` would be in the browsers: https://requirejs.org/docs/why.html#4

[2020-02-03 14:41] young-steveo commented on #40
@esroyo  I think your solution is quite good.  simply:

[code]
Prefixing with `async` is also a decent convention for a project to adopt.

Returning a Promise from `fetch` as your "service" is the best case scenario, since otherwise I would likely need to include promise plumbing in the core of bottle, and this would increase it's size (one of the design goals of bottle is to be useful while stayi

[2020-02-03 15:00] young-steveo commented on #139
Thank you for the suggestion!

The more I think about it, the more I am inclined to keep async apis outside of bottle.  There was a similar idea a few years ago for an async service: https://github.com/young-steveo/bottlejs/issues/40#issue-120213323 .

One of the design goals for bottle is to stay functional, yet small and lightweight.  I think I want to avoid adding promise or async code to the c

[2020-02-03 15:00] #139 closed

[2020-02-07 18:58] esroyo commented on #40
@young-steveo I totally support the tiny/simplicity point because it is paired here with flexibility, and that delivers power. I'm still amazed that I can do stuff like this: https://jsfiddle.net/e7dxsw9z/ :grin:

Thanks for your work, kind regards :)

[2020-02-12 20:02] matthew798 opened #140 "Async factory method"
Sorry for not asking this on SO, but there is no bottlejs tag so I fear my question would never be answered...

I have an async method that resolves to an object that I'd like to register as a service.

`await Theme.getTheme(this.config.theme)`

I'm wondering if it's possible to register this as a factory and preserve it's asynchronicity.

[2020-02-17 15:41] young-steveo commented on #140
Sorry, I was out of town for most of last week.

What you can do is return the promise from your factory and await the container property lookup, like so (assuming you are using bottle for all of your dependencies):

[code]

Let me know if that makes sense!

[2020-02-17 15:41] #140 closed

[2020-02-27 22:01] adamlee-ARC commented on #67
Just as an FYI to any poor soul needing this solution, I've implemented the following which works well. It isn't pretty but beauty is skin deep.

`function getDecorator(decoratorDependency,) {
  function decorate(someService) {
  // have much fun with decoratorDependency
  }
  return decorate;
}
module.exports = (container) => {
  container.decorator('someService', getDecorator(container.container

[2020-08-20 18:12] young-steveo commented on #57
After about--checks watch--four years of thinking about this change, I'm going to close the ticket.  It seems trivial enough for a user that needs this kind of thing to write a script to do it, and including it in bottlejs would just add unnecessary  kilobytes to the browser builds (something bottle tries not to do).

[2020-08-20 18:12] #57 closed

[2021-07-02 21:20] kernwig commented on #124
I know this issue is old and closed, but should someone else find there way here you can consider using [@sailplane/injector](https://docs.onica.com/projects/sailplane/en/latest/injector.html). It's a Typescript wrapper for bottlejs.

[2021-07-02 21:22] kernwig commented on #129
How does one make it work with webpack?

{
    "errorType": "TypeError",
    "errorMessage": "Bottle.pop is not a function",
    "stack": [
        "TypeError: Bottle.pop is not a function",
        "    at Object.call (/var/task/src/stacks/ingest/webpack:/node_modules/@sailplane/injector/dist/injector.js:165:26)",
        "    at __webpack_require__ (/var/task/src/stacks/ingest/webpack:/webpack/b

[2021-07-02 21:48] kernwig commented on #129
Solved above... it's a Typescript thing.

I enabled [esModuleInterop](https://www.typescriptlang.org/tsconfig#esModuleInterop) and changed the way I import bottlejs from:
[code]
to
[code]

[2021-07-07 00:05] kernwig commented on #129
The above worked at runtime, but fails in JEST with `TypeError: Cannot read property 'pop' of undefined` when calling `Bottle.pop`.

I switched to `const {Bottle} = require('bottlejes');`. This lets my library compile and test with JEST, but then when imported by another project, JEST works but it fails at runtime with `TypeError: Cannot read property 'pop' of undefined`.

Library (https://github.

[2022-10-04 16:51] travislaynewilson opened #187 "Factories and Providers do not work if the `container` argument is defined"
I tried following this sample script for the latest version `2.0.1`, and I get an error when trying to resolve it.

[code]

Error:
`TypeError: provider.$get is not a function`

Note that this error does not occur if the `container` argument is not defined in the factory function.

[2022-10-31 18:10] young-steveo commented on #187
Hi, @travislaynewilson !

You have a syntax error in your example (should be `class Test {}` not `class Test() {}`)

Running your script gives the error:

[code]

I ran the following updated version of your code using Bottlw 2.0.1 and did not get an error:

[code]

My output:

[code]

[2022-10-31 18:10] #187 closed

[2022-10-31 18:10] young-steveo commented on #187
Let me know if you can reproduce the error with an isolated test, and I'll re-open the issue.  Thanks!